<div>
  <ng-container  *ngFor="let a of userInfo; count as total; index as idx; last as ilast, odd as iodd, even as ieven" >
    <div [ngClass]="iodd ? 'test-add-class-odd'  : 'test-add-class-even'" >
        <p>{{idx}}</p>
        <p>{{a.Name}}</p>
        <p>{{a.Age}}</p>
        <p>{{a.Address}}</p>
    </div>
    <div *ngIf="ilast">
        <p>{{total}}</p>
    </div>
  </ng-container>
</div>

<div>
  <table class="table table-bordered">
    <thead class="thead-dark" [ngClass]="{'my_class': true, 'my_class2': true}">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody *ngFor="let a of userInfo; index as idx">
      <tr>
        <th scope="row">{{idx}}</th>
        <td>{{a.Name}}</td>
        <td>{{a.Age}}</td>
        <td>{{a.Address}}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-review-knowledge-child
  [progress]="1"
  [backgroundColor]="'#9e9e9e'"
  [progressColor]="'#2e8b57'"
  [listAuthorInput] = 'listAuthor'
  (handleDeleteAction) = 'DeleteObject1($event)'>
</app-review-knowledge-child>

<app-toggle [(checked)]="checked" #toggleTemp ></app-toggle>

<button (click)="toggleTemp.toggle()" >Click to Call function inside toggle</button>

<input type="text" #nameInput />
<button (click) = "ViewChild()" >Click to check ViewChild</button>

<app-toggle #componentRef>
  <p class="ng-content-header">Header</p>
  <p class="ng-content-content">Content</p>
  <ng-container ngProjectAs="label" >This is container</ng-container>
  <p class="ng-content-footer">Footer</p>
</app-toggle>


<form #nameForm="ngForm">
  <input
    type="text"
    class="form-control"
    required
    [(ngModel)]="userInfo[0].Name"
    name="name"
    #name="ngModel"
  />
  <button>Submit</button>
</form>

<tab-container></tab-container>

<tab-group>
  <tab-panel title="First">First tab</tab-panel>
  <tab-panel title="Second">Second tab</tab-panel>
  <tab-panel title="Third">Third tab</tab-panel>
  <tab-panel title="Forth">Fourth tab</tab-panel>
  <tab-panel title="Fifth">Fifth tab</tab-panel>
</tab-group>


<app-bs-tab-group>
  <tab-panel title="Tab 1">content tab 1</tab-panel>
  <tab-panel title="Tab 2">content tab 2</tab-panel>
  <tab-panel title="Tab 3">content tab 3</tab-panel>
</app-bs-tab-group>
